.card__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding-bottom: 60px;
}

.card__box {
  box-shadow: 0 0 8px #e8e8e8;

  padding: 16px;

  position: relative;
}
.card__gender--m {
  position: absolute;
  top: 0;
  right: 0;

  width: 32px;
  height: 32px;
  margin: 0;

  background-color: #646cff;
  color: #fff;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.card__gender--f {
  position: absolute;
  top: 0;
  right: 0;

  width: 32px;
  height: 32px;
  margin: 0;

  background-color: #ff6f91;
  color: #fff;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.card__gender--mf {
  position: absolute;
  top: 0;
  right: 0;

  width: 32px;
  height: 32px;
  margin: 0;

  background-color: #76db6a;
  color: #fff;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.card__example__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__title__wrapper {
  display: flex;
  align-items: center;
  gap: 16px;

  margin: 16px 0 4px 0;
}

.card__title {
  margin: 0;
}

.card__speak__btn {
  border: none;

  width: fit-content;
  height: 100%;

  background-color: unset;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card__example {
  padding: 4px;
  background-color: #f1f1f1;
}

.card__example .card__speak__btn {
  float: right;
}
