.pagination {
  padding: 32px 0;

  position: fixed;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  background-color: #fff;
  box-shadow: 0 -2px 8px #e8e8e8;
}

.pagination__pages {
  font-size: 12px;
}

.pagination__button {
  border: none;
  background-color: unset;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
}
