:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #333;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: #333;
}

p {
  margin: 4px 0;
}

body {
  margin: 0;
  padding: 8px;
}

h1 {
  font-size: clamp(28px, 6vw, 3.2em);
  line-height: 1.1;

  text-align: center;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  font-size: 12px;
  color: #333;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
